
@import url("https://fonts.googleapis.com/css?family=Roboto ");

body{
  font-family: "Roboto";
}
.main{
  min-height: 60vh;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}
/* .main{
  margin-left:150px;
   align-items: center;
   justify-content: center;
 } */

.hs-webinar-hero {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  overflow: hidden;
  background:black;
  
  padding: 30px 0 30px;

}
@media only screen and (max-width: 768px) {
  .hs-webinar-hero {
    padding: 32px 0 40px;
  }
}
.hs-webinar-hero__container {
  width: 90%;
  margin: 0 auto;
}
.hs-webinar-hero__top {
  z-index: 2;
  position: relative;
 
}

.hs-webinar-hero__top-left {
  float: left;
  width: 298px;
  max-width: 300px;
  min-width: 250px;
}

#webinarHome {
  width: 100%;
  height: 75vh;
  align-items: center;
  padding-top: 30px;
  z-index: 1;
  background-image: linear-gradient( rgba(63, 57, 57, 0.5), rgba(66, 65, 65, 0.5)), url(https://gdurl.com/gJJK);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: opacity(80%);
  margin-bottom: 3%;
  
}


.home_text {
  
  background-color:white;
  color: black;
  font-weight: bolder;
  text-align: center;
  margin: 6em 12em;
  padding-top:40px;
  padding-bottom:40px;
 
}
@media only screen and (max-width: 768px) {
  .home_text {
  
    background-color:white;
    color: black;
    font-weight: bolder;
    text-align: center;
    margin: 6em 3em;
    padding-top:40px;
    padding-bottom:40px;
   
  }
}


/* Footer */

.footer{
  background-color: black;
  color:white;
}

.col_white { color:#FFF;}
footer { 
width:100%;  
min-height:250px; 
padding:10px 0px 25px 0px ;
}
.pt2 { padding-top:40px ; margin-bottom:20px ;}

footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul { margin:0px ; list-style-type:none ; font-size:14px; padding:8px 0px 10px 0px ; }
.footer_ul li {padding:0px 0px 5px 0px;}
.footer_ul li a{ color:#CCC;}
.footer_ul li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:20px; }

.footer_ul2 {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2 li p { display:table;}
.footer_ul2 li a:hover { text-decoration:none;}
.footer_ul2 li i { margin-top:13px;}



.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}
